[Desktop Entry]
Name=HyperPad
Comment=Fast text editor
Exec=hyperpad
Icon=hyperpad
Terminal=false
Type=Application
Categories=Utilities;TextEditor
MimeType=text/plain
